@keyframes form-animation
{
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}
#form-popup {
        box-shadow: 10px 10px 5px grey;
      display:none;

       position: fixed;
     top:3%;
   left:35%;
   bottom: 5%;
    border: 3px solid #f1f1f1;
    

  }



  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: dimgray;
  }
  .form-container input:focus,textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  .form-container input,.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
   .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    font-size: 20px;
  }
  .browseBtn{
    width: 100%;;
    padding:auto;
    margin-bottom: auto;
    top:1%;
    background-color: rgb(108, 129, 190);
  }
  .btn:hover,.browseBtn:hover {
    opacity: 1;
  }
  button.close
  {
    font-size:30px;
    color:red;
    padding: 2px;
    border-radius: 50%;
    background-color:white;
    position: relative;
    float: right;
    top: -10px;
    right: -10px;
  }
#form-popUp
{
  background-color: dimgray;
  
}
#invalid-url,#invalid-date
{
  color: red;
  font-size: large;
}
